@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  color: #212121;
  color-scheme: light;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Roboto', sans-serif;
}
